# CLIENT SIDE PROJECT
game/code/Thumbs.db
game/code/.DS_Store
game/code/.idea
game/code/*.suo
game/code/*.sublime-project
game/code/*.sublime-workspace

game/dist/

game/node_modules/

game//npm-debug.log

# SERVER SIDE PROJECT
core/diff
core/.idea/*
core/.nyc_output
core/build
core/node_modules
core/test
core/src/**.js
core/coverage
core/*.log
core/package-lock.json

node_modules
node_modules/**/*
*/node_modules
**/*/node_modules
node_modules/